.header{
    background-color:#1B1B1B;
    color:white ;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    align-items: center;
}
.menu{
    font-size: 25px;
    display: flex;
    align-items: center;
}
.logo{
    font-size: 25px;
    font-weight:900;
}
